/* === HEADER === */

header .name {
	background: #444444;
	color: #777777;
	text-align: right;
	padding: 1em 2em;
}
header .title {
	background: #777777;
	color: #444444;
	text-align: right;
	padding: 1em 2em;
}


@media only screen and (max-width: 44em)
{
	
}