/* === HEADER === */

header {
	height: 12em;
	width: 100%;
}

.pic {
	width: 35%;
	display: inline-block;
	background: green;
	height: 12em;
	position: relative;
}

.level1 {
	background: #E0F0FF;
	color: #3D003D;
	
	height: 6em;
}

.level2 {
	
	background: #3D003D;
	color: #E0F0FF;
	
	height: 6em;
}

.name {
	width: 65%;
	display: inline-block;
	text-align: center;
	background: green;
	height: 12em;
	
	font-family: 'raleway', cursive;
	font-weight: bold;
	/* NECESSARY */
	vertical-align: top;
}

.prof, .title {
	position: relative;
}

/*
.prof {font-family: 'Droid Serif', serif;}
.title{font-family: 'Coda', cursive;}
*/

.level1 h1, .level2 h2 {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.pic img {
	display: block;
	max-height: 70%;
	position: absolute;
	z-index: 1;
	
	left: 75%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	border: 2px solid white;
}

/* === RESUME === */

main {
	
	background: #E0F0FF;
	color: #3D003D;

	
	
	padding: 1em 25%;
}

h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0.5em;
}

.resume-section {
	margin-bottom: 2em;
	font-family: 'Droid Sans', sans-serif;
}
.resume-section:last-child {
	margin-bottom: 0;
}

.resume-section ul {
	width: 100%;
}

.resume-section li {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.resume-section li.time {
	width: 30%;
}

.resume-section li.description {
	width: 70%;
}

#qualifications ul {
	text-align: center;
}

#qualifications li {
	display: block;
	text-align: center;
}

/* === FOOTER === */

footer {
	background: #3D003D;
	color: #E0F0FF;
	font-size: 0.8em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding: 0.5em 0;
}

footer ul {
	width: 100%;
	}
	
footer li {
	display: inline-block;
	padding: 0 0.2em;
	border-left: 1px solid #E0F0FF;
	margin-left: -1px;
}

footer li:first-child {
	border-left: none;
	margin-left: 0;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
	color: #E0F0FF;
	text-decoration: none;
	outline: 0;
}


footer a:hover, footer a:focus {
	color: #FFFFFF;
	font-weight: bold;
}

@media only screen and (max-width: 75em)
{
	main {
		padding: 1em 10%;
	}
	
	.pic img {
		left: 50%;
	}
}

@media only screen and (max-width: 40em)
{
	main {
		padding: 1em 4%;
	}
}

@media only screen and (max-width: 22.5em)
{
	#qualifications li {
		padding-bottom: 1em;
	}
}